<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        background-color: silver;
    }

    form {
        height: 230px;
        width: 50%;
        border-radius: 20px;
        padding: 25px;
        margin-left: 300px;
        text-align: center;
        margin-top: 200px;
        background: white;
    }
    form input{
        padding: 5px;
        width: 100%;
        background: white;
    }
    form label{
        background:none;
        float: left;
        margin: 5px;
    }
    form button{
        background:green;
        color: white;
        padding: 10px 60px;
    }
    .h1{
        background-color:white;
        text-align: center;
        margin-top: 30px;
    }
</style>

<body>

 
    <form action="" method="post">
        <h2 class="h1">Password reset For <%= userid %>
        </h2>
        <!-- <label for="passwordCurrent">PasswordCurrent</label>
        <input type="password"  placeholder="please enter your password"  name="passwordCurrent"> -->
        
                <label for="password">Password</label>
                <input type="password" placeholder="please enter your password" name="password">
            <br>
                <label for="passwordConfirm">PasswordConfirm</label>
                <input type="password" placeholder="please enter your passwordConfirm" name="passwordConfirm">
          <br><br>
                <button type="submit">Submit</button>
            <br>


    </form>
</body>

</html>